%arial-bold {
	font-family: "Arial-BoldMT", sans-serif;
	font-weight: 700;
}

%arial-regular {
	font-family: "Arial-BoldMT", sans-serif;
	font-weight: 400;
}

$orange: #FF7931;
$black: #48494D;

$silver: #A8A8A8;
$light-gray: #C4C4C4;
$gray: #F0F0F4;