<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" href="#">Магазины</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Акции</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Доставка и оплата</a>
						</li>
					</ul>
				</nav>
				<div class="menu__btn">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="mobile-menu__gamburger">
					<ul class="mobile-menu__list">
						<li class="mobile-menu__item">
							<img src="images/mob-user.svg" alt="">
							<a class="mobile-menu__item-link" href="#">Войти</a>
						</li>
						<li class="mobile-menu__item">
							<img src="images/mob-user.svg" alt="">
							<a class="mobile-menu__item-link" href="#">Регистрация</a>
						</li>
						<li class="mobile-menu__item">
							<img src="images/mob-heart.svg" alt="">
							<a class="mobile-menu__item-link" href="#">Избранное</a>
						</li>
						<li class="mobile-menu__item">
							<img src="images/mob-home.svg" alt="">
							<a class="mobile-menu__item-link" href="#">Магазины</a>
						</li>
						<li class="mobile-menu__item">
							<img src="images/mob-percent.svg" alt="">
							<a class="mobile-menu__item-link" href="#">Акции</a>
						</li>
						<li class="mobile-menu__item">
							<img src="images/mob-box.svg" alt="">
							<a class="mobile-menu__item-link" href="#">Доставка
								и оплата</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Каталог запчастей</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Каталог ТО</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Шины </a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Диски</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Аккумуляторы</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Автомасла</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Автолампы</a>
						</li>
						<li class="mobile-menu__item">
							<a class="mobile-menu__item-link" href="#">Аксессуары</a>
						</li>
					</ul>
					<a class="mobile-address" href="#">
						Санкт-Петербург, ул
						Большая Конюшенная, д 19
					</a>
				</div>
				<a class="logo" href="#">
					<picture class="logo__img">
						<source srcset="images/logo-small.svg" media="(max-width: 768px)">
						<img src="images/logo.svg" alt="">
					</picture>

				</a>


				<div class="header__top-box">
					<a class="header__top-adress" href="#">
						Санкт-Петербург, ул
						Большая Конюшенная, д 19
					</a>
					<ul class="user__list">
						<li class="user__item"><a class="user__list-link heart" href="#"></a></li>
						<li class="user__item"><a class="user__list-link user" href="#"></a></li>
						<li class="user__item"><a class="user__list-link basket" href="#">
								<div class="basket__num">1</div>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<ul class="menu-categories">
				<li class="menu-categories__item">
					<a class="menu-categories__link active" href="#">Каталог запчастей</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Каталог ТО</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Шины</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Диски</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Аккумуляторы</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Автомасла</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Автолампы</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Аксессуары</a>
				</li>
			</ul>
			<div class="mobile-overflow">
				<nav class="mobile__menu">

					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" href="#">Магазины</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Акции</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Доставка и оплата</a>
						</li>
					</ul>

				</nav>
			</div>
		</div>

	</div>



</header>